<html>
<head>
    <title>Add New Item</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/logreg/logreg.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div id='wrapper'>
        <a href="{%url 'dash' %}" class="options">Home</a><a href="{%url 'logoff' %}" class="options">Logout</a>
        <h1>Create a New Wish List Item</h1>
        <form action='/additem' method='POST' class='addpage'>
            {% csrf_token %}
            <label for="item" class='label'>Item/Product:<input type="text" name="item" id="item"></label>       
            <label for="id"><input type="hidden" name="id" id="id" value="{{ request.session.id }}"></label>
            <input type="submit" value="Add" class='comment_but'>
        </form>
    </div>
</body>
</html>