<!DOCTYPE html>
<html>
<head>
    <title>Faceboard</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel='stylesheet' href="{% static 'css/logreg/post.css' %}" media="screen" title="no title" charset="utf-8">
    
</head>
<body>
    <div id='wrapper'>
        <a href="{%url 'logoff' %}" class="options">Logout</a>
        <h1>Hello {{ request.session.name }}</h1>
        
    <!-- with all the data we can then construct a more structured output -->
        <h2>Your Posts:</h2>
        <div id='placeholder' style='margin-top:35px; border:1px solid silver; width:750px; padding:10px; text-align:center;'>
            <div class="posts">
                {% for post in posts %}
                    <div class="book">
                        <p>{{post.post}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <form action='/add' method='POST' class='addpage' id='create_user_ajax_form'>
            {% csrf_token %}
            Add note: <input type='text' name='post'/>
            <input type="submit" value="Post It!" class='comment_but'>
        </form>
    </div>
</body>
<script>
    $('#create_user_ajax_form').submit(function(e){
      e.preventDefault()
      console.log('Sending Ajax request to', $(this).attr('action'))
      console.log('Submitting the following data', $(this).serialize())
      $.ajax({
        url: $(this).attr('action'), /* Where should this go? */
        method: 'post', /* Which HTTP verb? */
        data: $(this).serialize(), /* Any data to send along? */
        success: function(serverResponse) { /* What code should we run when the server responds? */
          $('#placeholder').html(serverResponse)
        }
      })
    });
  </script>
</html>