<!DOCTYPE html>
<html>
<head>
  <title>Wish List</title>
  {% load static %}
    <link rel='stylesheet' href="{% static 'css/logreg/logreg.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div id='wrapper'>
        <h1>Welcome!</h1>
        
        {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %} class='{{ message.tags }}' {% endif %}>
                    <p class='red'>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        
        <form action='/login' method='POST'>
            {% csrf_token %}
            <h2>Login</h2>
            <label for="user_name">Username:<input type="text" name="user_name" id="user_name"></label>
            <label for="logpassword">Password:<input type="password" name="logpassword" id="logpassword"></label>
            <input type="submit" value="Login">
        </form>

        <form action='/registration' method='POST'>
            {% csrf_token %}
            <h2>Register</h2>
            <label for="name">Name:<input type="text" name="name" id="name"></label>
            <label for="user_name">Username:<input type="text" name="user_name" id="user_name"></label>
            <label for="regpassword">Password:<input type="password" name="regpassword" id="regpassword"></label>
            <p>*Password should be at least 8 characters.</p>
            <label for="regpassword2">Confirm PW:<input type="password" name="regpassword2" id="regpassword2"></label>
            <label for="hired_at">Date Hired:<input type="date" name="hired_at" id="hired_at"></label>
            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>
