<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Success!!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/logreg/logreg.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class='{{ message.tags }}' {% endif %}>
                <p class='blue'>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
    <a href="/">Go Back</a>
</body>
</html>