<html>
<head>
    <title>Wish Item</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/logreg/logreg.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div id='wrapper'>
        <a href="{%url 'dash' %}" class="options">Home</a><a href="{%url 'logoff' %}" class="options">Logout</a>
        <h1>{{ item.item_name }}</h1>
        <h3>Users who added this product/item under their wish list:</h3>
        <table>
            {% for user in users %}
                <tr>
                    <td><p>{{ user.name }}</p></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>